@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');
html
{
    font-size: 62.5%;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    background: #2d3436;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title
{
    margin: 50px 0px;
    padding: 15px;
    border-radius: 15px;
    border: 0.25px solid rgba(255, 255, 255, 0.1);
    box-shadow: -20px -10px 15px rgba(0, 0, 0, 0.3),
                 5px  7px 15px rgba(111, 111, 112, 0.4),
                 inset -8px -8px 5px rgba(0, 0, 0, 0.4),
                 inset  8px  8px 5px rgba(111, 111, 112, 0.3); 
}

h1
{
    margin: 0;
    color: #fff;
    text-align: center;
    font-size:4.0rem;
    font-weight: 200;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__color
{
    background-color:#2d3436;
    width: 200px;
    height: 150px;
    color: #fff;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem ;
    text-shadow: 2px 2px 4px #2d343657;
    border: 0.5px solid rgba(94, 93, 93, 0.1);
    box-shadow: -15px -10px 15px rgba(0, 0, 0, 0.4),
                 10px  10px 15px  rgba(121, 121, 121, 0.4);
}

@media(max-width: 768px)
{
    .title
    {
        margin: 50px 10px 25px 10px;
    }

    h1
    {
        font-size: 3rem;
    }

    .container__color
    {
        width: 100px;
        height: 75px;
        margin: 10px;
        border-radius: 7.5px;
        font-size: 2rem ;
    }
}